html {
  font-size: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*, *::before, *::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Kumbh Sans', sans-serif;
  font-size: 0.75rem;
  line-height: 1.15;
  background: -webkit-gradient(linear, left top, left bottom, from(#af67e9), to(#6565e7));
  background: linear-gradient(#af67e9, #6565e7);
  background-repeat: no-repeat;
}

.container {
  height: 100vh;
  width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.card {
  position: relative;
  width: 20.375rem;
  margin: 9.25rem 1.5rem auto 1.5rem;
  background-color: white;
  padding: 0 1.5rem 3rem 1.5rem;
  border-radius: 1.25rem;
  -webkit-box-shadow: 0 2.5rem 2.8125rem -1.875rem rgba(0, 0, 0, 0.14), 0 3.625rem 3.125rem -2.5rem rgba(0, 0, 0, 0.2);
          box-shadow: 0 2.5rem 2.8125rem -1.875rem rgba(0, 0, 0, 0.14), 0 3.625rem 3.125rem -2.5rem rgba(0, 0, 0, 0.2);
}

@media (min-width: 90rem) {
  .card {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 57.5rem;
    height: 31.75rem;
    margin-top: 9.125rem;
    padding: 0;
  }
}

@media (min-width: 90rem) {
  .card::before {
    content: '';
    position: absolute;
    background-image: url("/images/illustration-box-desktop.svg");
    height: 11.375rem;
    width: 11.875rem;
    left: -5.8125rem;
    top: 12.9375rem;
    z-index: 5;
  }
}

.card::after {
  content: '';
  position: absolute;
  top: -6.6875rem;
  right: 2.375rem;
  width: 17rem;
  height: 11.75rem;
  background-image: url("/images/illustration-woman-online-mobile.svg");
  background-repeat: no-repeat;
  z-index: 10;
}

@media (min-width: 90rem) {
  .card::after {
    width: 30.3125rem;
    height: 22.5625rem;
    top: 4.5rem;
    left: 0;
    background-image: url("/images/illustration-woman-online-desktop.svg");
    background-repeat: no-repeat;
    background-position: -5.3125rem center;
    z-index: 4;
  }
}

.card__cover {
  position: relative;
  height: 8.625rem;
  padding-bottom: 2.375rem;
  background-image: url("/images/bg-pattern-mobile.svg");
  background-size: 15rem 6.625rem;
  background-repeat: no-repeat;
  background-position: center -0.1875rem;
  overflow: hidden;
}

@media (min-width: 90rem) {
  .card__cover {
    height: 100%;
    width: 28.125rem;
    background-image: url("/images/bg-pattern-desktop.svg");
    background-size: 215%;
    background-repeat: no-repeat;
    background-position: -36rem -18.375rem;
  }
}

.card__heading {
  margin: 0;
  padding-bottom: 2.25rem;
  font-size: 2rem;
  text-align: center;
}

@media (min-width: 90rem) {
  .card__heading {
    text-align: left;
    font-size: 2.25rem;
    padding-bottom: 2.375rem;
  }
}

@media (min-width: 90rem) {
  .card__accordion {
    width: 27.875rem;
    padding: 4.5rem 6rem 5.125rem 0;
  }
}

.card__accordion__item {
  border-bottom: 1px solid #e7e7e9;
}

.card__accordion__item:not(:last-child) {
  margin-bottom: 1rem;
}

.card__accordion__item__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  background: transparent;
  border: none;
  padding-bottom: 1rem;
  padding-left: 0;
  padding-right: 0;
  font-size: inherit;
  font-family: inherit;
  -webkit-transition: color 200ms ease-in-out, font-weight 300ms ease-in-out;
  transition: color 200ms ease-in-out, font-weight 300ms ease-in-out;
}

@media (min-width: 90rem) {
  .card__accordion__item__title {
    font-size: 0.875rem;
    padding-bottom: 0.875rem;
  }
}

.card__accordion__item__title .toggle {
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  -webkit-transition: -webkit-transform 300ms ease-in-out;
  transition: -webkit-transform 300ms ease-in-out;
  transition: transform 300ms ease-in-out;
  transition: transform 300ms ease-in-out, -webkit-transform 300ms ease-in-out;
}

.card__accordion__item__title:hover {
  color: #f47c57;
  cursor: pointer;
}

.card__accordion__item__title:focus {
  outline: none;
  color: #f47c57;
  text-decoration: underline;
}

.card__accordion__item__title:active {
  -webkit-transform: scale(1.03);
          transform: scale(1.03);
}

.card__accordion__item__title.open {
  font-weight: 700;
}

.card__accordion__item__title.open .toggle {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.card__accordion__item__title.open + .card__accordion__item__content {
  padding-bottom: 1.25rem;
  max-height: -webkit-max-content;
  max-height: -moz-max-content;
  max-height: max-content;
}

.card__accordion__item__content {
  max-height: 0;
  overflow: hidden;
  line-height: 1.5;
  -webkit-transition: all 300ms linear;
  transition: all 300ms linear;
}
/*# sourceMappingURL=styles.css.map */